<!DOCTYPE html>
<html lang="en" ng-app='app'>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <script type="text/javascript" src="main.js"></script>
    <title>Document</title>
</head>
<body>
    <div class="example" ng-controller='myCtrl'>
        <div>{{hello}}</div>
        <div><input type="text" ng-model="book"></div>
        <div>{{book}}</div>
    </div>
    <div class="traning1" ng-controller="myCtrl1">
        <div>{{first}}</div>
        <div>{{second}}</div>
        <div>{{therd}}</div>
    </div>
    <div ng-controller='myCtrl2'>
        <input type="text" ng-model="c2">
        <div>{{c2}}</div>
    </div>
    <div ng-controller='myCtrl3'></div>
    <div ng-controller='myCtrl4'></div>
    <div ng-controller='myCtrl5'></div>
    <div ng-controller='myCtrl6'></div>
    <div ng-controller='myCtrl7'></div>
    <div ng-controller='myCtrl8'></div>
    <div ng-controller='myCtrl9'></div>
    <div ng-controller='myCtrl10'></div>
    <div ng-controller='finalCtrl'></div>


</body>
</html>
