<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <title>Document</title>
</head>
<body ng-app>
    <div><input type="text" ng-model="a1">{{b1}}</div>
    <div><input type="text" ng-model="b3">{{b3}}</div>
    <div><input type="text" ng-model="a3">{{a3}}</div>

    <div><input type="text" ng-model="b1">{{a1}}</div>
    <div><input type="text" ng-model="b2">{{b2}}</div>
    <div><input type="text" ng-model="b3">{{a3}}</div>

    <div><input type="text" ng-model="total">{{total}}</div>


</body>
</html>
